.breadcrumb {
    background-color: #ffffff;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    margin: 10px 0;
}

.tags-box {
    margin-bottom: 10px;
}

.tags-box .tag-span {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    padding: 6px 12px;
    border: 1px solid #EEEEEE;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.tags-box .tag-span.active, .tags-box .tag-span:hover {
    border: 1px solid #055EBF;
    background: #055EBF;
    color: #ffffff;
}

.ul-h-flex {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.search-filter-box .search-filter-item {
    width: 100%;
    padding: 0 15px;
    border-radius: 0;
}

.search-filter-box .well {
    background: #ffffff;
    border: 0;
    margin: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.search-filter-box .search-filter-ul .search-filter-li {
    line-height: 40px;
}

.search-filter-ul .search-filter-li.first {
    max-width: 10%;
}

.search-filter-ul .search-filter-li.second {
    min-width: 80%;
}

.search-filter-ul .search-filter-li.third {
    min-width: 10%;
    text-align: right;
}

.search-filter-box .search-filter-ul .search-filter-li .search-more-btn {
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #888888;
}

.search-filter-ul .search-filter-li .search-filter-name {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #888888;
}

.search-filter-box .search-filter-ul .search-filter-li .search-more-btn:hover {
    text-decoration: none;
}

.search-filter-opt-box .search-filter-opt {
    display: inline-block;
    padding: 0px 6px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    cursor: pointer;
}

.search-filter-opt-box .search-filter-opt.active, .search-filter-opt-box .search-filter-opt:hover {
    color: #055EBF;
}

.search-sort-box {
    background: #f2f2f2;
    padding: 0 15px;
    margin-bottom: 24px;
}

.search-sort-box .search-sort-ul .search-sort-li {
    line-height: 44px;
}

.search-sort-box .sort-by-ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 34px;
}

.search-sort-box .search-result-preview {
    text-align: right;
    line-height: 44px;
}

.search-sort-box .search-result-preview .total-count {
    color: #055EBF;
    padding: 0 4px;
}

.search-sort-box .search-result-preview .count-info, .search-sort-box .search-result-preview .page-info {
    margin-right: 12px;
}

.search-sort-box .search-result-preview .current-count {
    color: #055EBF;
    padding: 0 0px 0 4px;
}

.search-sort-box .search-result-preview .total-page {
    margin-right: 10px;
}

.search-result-preview .page-item:first-child {
    margin-left: 1em;
}

.search-sort-box .search-result-preview .page-item {
    padding: 2px;
    background: #fafafa;
    cursor: pointer;
}

.search-result-preview .page-item:hover {
    background: #cccccc;
    color: #ffffff;
}

.sort-by-ul .sort-by-li {
    line-height: 24px;
    background: #ffffff;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    min-width: 6em;
    padding: 2px 12px;
    cursor: pointer;
}

.sort-by-ul .sort-by-li.active {
    background: #055EBF;
    color: #ffffff;
}

.search-result-box .search-result-ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.search-result-box .search-result-ul .search-result-li {
    float: left;
    width: 20%;
    margin: 10px 0;
    padding: 10px;
}

.search-result-ul .search-result-li .pro-item {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 10px;
    cursor: pointer;
}

.search-result-ul .search-result-li .pro-item:hover {
    box-shadow: 1px 5px 20px #CCCCCC;
    transition-duration: .4s;
}

.search-result-ul .search-result-li img {
    margin: 0 auto;
    max-width: 80%;
    max-height: 160px;
}

.search-result-ul .search-result-li p {
    margin: 15px 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.search-result-box .pager {
    margin: 30px auto 70px;
}

.goods-info-box .goods-info {
    position: relative;
    display: block;
    float: left;
    min-height: 1px;
}

.goods-info-box .goods-info .main-pic {
    margin: 0px auto;
    border: 1px solid #ddd;
    max-width: 90%;
    max-height: 350px;
}

.goods-info-box .thumbnail-box {
    width: 35%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.goods-info-box .goods-intruduction-box {
    width: 45%;
    min-height: 450px;
}

.goods-intruduction-box .goods-info-div-9 {
    width: 90%;
    padding: 6px 15px;
}

.goods-intruduction-box .goods-info-div-10 {
    width: 100%;
    padding: 0 15px;
}

.goods-intruduction-box .goods-info-header p.title {
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0;
}

.goods-intruduction-box .goods-info-header p.remarks {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FB750E;
    letter-spacing: 0;
    margin-bottom: 5px;
}

.goods-intruduction-box .goods-info-price {
    background: #EBEEF0;
    line-height: 53px;
    height: 53px;
}

.goods-intruduction-box ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.goods-intruduction-box ul li.tag-name-li {
    font-family: PingFangSC-Regular;
    position: relative;
    float: left;
    width: 5em;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
}

.goods-intruduction-box ul li.tag-content-li {
    float: right;
    width: calc(100% - 5em);
}

li.goods-info-count .tag-name-last {
    display: flex;
}

li.tag-content-li .input-group, .more-goods-body .input-group {
    width: 105px;
    height: 21px;
    line-height: 21px;
    margin-left: 12px;
    margin-right: 12px;
}

li.tag-content-li .input-group .btn, .more-goods-body .input-group .btn {
    border-radius: 0;
    padding: 0 4px;
    line-height: 10px;
    height: 21px;
    color: #444444;
}

li.tag-content-li .input-group .input-numbox, .more-goods-body .input-group .input-numbox {
    height: 21px;
    padding: 0 4px;
    text-align: center;
}

.goods-intruduction-box .tag-content-li .tag-name-last {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
}

.goods-info-price .price-li .small {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #1B6DC3;
    letter-spacing: 0;
}

.goods-info-price .price-li .price {
    font-family: PingFangSC-Medium;
    font-size: 24px;
    color: #1B6DC3;
    letter-spacing: 0;
}

.goods-intruduction-box .tag-name-first {
    letter-spacing: 1em;
}

.goods-intruduction-box .goods-info-config .goods-info-config-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 34px;
}

.tag-content-li .goods-specification {
    border: 1px solid #1B6DC3;
    color: #1B6DC3;
    padding: 2px 8px;
    margin-right: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
}

.tag-content-li .goods-specification.active, .tag-content-li .goods-specification:hover {
    background: #1B6DC3;
    color: #ffffff;
}

.goods-intruduction-box .goods-info-footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
}

.goods-intruduction-box .goods-info-footer .btn {
    border-radius: 0;
    font-family: PingFangSC-Medium;
    border: 1px solid #1B6DC3;
    letter-spacing: 0;
    padding: 4px 12px;
    font-size: 18px;
    margin: 0 5px;
}

.goods-intruduction-box .goods-info-footer .btn.btn-default {
    background: #FFFFFF;
    color: #1B6DC3;
    width: 170px;
}

.goods-intruduction-box .goods-info-footer .btn.btn-primary {
    color: #ffffff;
    background: #055EBF;
    width: 177px;
}

.goods-intruduction-box .goods-info-footer .btn i.fa {
    margin-right: 6px;
}

.goods-info-box .extra-goods-box {
    width: 20%;
}

.goods-info-box .extra-goods-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.goods-info-box .extra-goods-box .extra-goods-info-box {
    padding: 20px;
    width: 80%;
    background: #F7F7F7;
    border: 1px solid #D0D0D0;
    float: right;
}

.goods-info-box .extra-goods-box p.extra-goods-title {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
}

.goods-info-box .extra-goods-box p.extra-goods-name, .goods-info-box .extra-goods-box p.change {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #737373;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.goods-info-box .extra-goods-box p.change {
    margin-top: 10px;
    margin-bottom: 0px;
}

.goods-info-box .extra-goods-box a:hover {
    text-decoration: none;
}

.goods-info-box .extra-goods-box img {
    max-width: 131px;
    max-height: 107px;
    margin: 8px auto;
}

.goods-gallery .production-ul li.product-slider-parent {
    width: 20px;
    height: auto;
}

.goods-gallery .production-ul li.product-slider-parent .product-slider {
    width: 20px;
    position: relative;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
    /* border: 1px solid rgba(240,240,240,.6); */
}

.goods i.fa.right {
    top: calc(50% - 7px);
    right: 2px;
}

.goods i.fa.left {
    top: calc(50% - 7px);
    left: 2px;
}

.goods-info-box .goods-info .main-pic-box {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goods-info-box .goods-info ul.production-ul {
    width: 90%;
    margin: 5px auto;
    justify-content: space-between;
}

.goods-gallery .swiper-container {
    width: 100%;
    height: auto;
    margin: 0px auto;
}

.goods-gallery .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: auto;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container-horizontal>.swiper-scrollbar, .swiper-scrollbar-drag {
    opacity: 0;
    background: none;
}

.goods-gallery .product-item {
    padding: 0;
}

.goods-gallery .product-item img {
    margin: 2px;
    position: relative;
    display: block;
    text-align: center;
    width: auto;
    height: 80px;
    border: 1px solid rgba(240, 240, 240, .6);
}

.more-goods-box .more-goods-header {
    background: #FFFFFF;
    margin-bottom: 20px;
    border-bottom: 3px solid #055EBF;
}

.more-goods-box .more-goods-header .nav-tabs {
    background: #ffffff;
    color: #055EBF;
}

.more-goods-box .more-goods-header .nav-tabs>li>a {
    font-family: PingFangSC-Medium;
    background-color: #F7F7F7;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0;
}

.more-goods-box .more-goods-header .nav-tabs>li.active>a, .more-goods-box .more-goods-header .nav-tabs>li.active>a:focus, .more-goods-box .more-goods-header .nav-tabs>li.active>a:hover {
    background-color: #055EBF;
    color: #ffffff;
}

.more-goods-body .input-group {
    width: 105px;
    margin-right: 15px;
}

.table>tbody>tr>td {
    line-height: 34px;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
}

.table-bordered>thead>tr>th {
    border-bottom-width: 1px;
    line-height: 34px;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
}

.more-goods-body .opration {
    display: flex;
    justify-content: center;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 0px;
}

.more-goods-body .opration:first-child {
    border-top: 0;
}

.opration .opration-item {
    height: 34px;
    line-height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.more-goods-body .opration .btn-xs {
    height: 21px;
}

.domination {
    height: 52px;
}

tr>td.company {
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
}

tr>td>a.hlink {
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #055EBF;
    letter-spacing: 0;
}