ul.hot-brands-ul, ul.pro-address-ul{
    padding: 34px 10px;
}

ul.pro-address-ul {
    list-style: none;
    display: flex;
    overflow: hidden;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
}

ul.pro-address-ul li.pro-address-li{
    width: calc(100% - 5em);
}

ul li.li-to-more a{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #444444;
    letter-spacing: 0;
    line-height: 12px;
}

ul li.li-to-more a:hover,ul li.li-to-more a:active{
    text-decoration: none;
    color: #444444;
}

.hot-brands-box .hot-brands-ul li:first-child, .hot-brands-box ul.pro-address-ul li:first-child,
.hot-brands-box .hot-brands-ul li:last-child, .hot-brands-box ul.pro-address-ul li:last-child
{
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #444444;
    letter-spacing: 0;
    line-height: 18px;
    width: 4em;
}

ul.hot-brands-ul:after{
    position: absolute;
    right: 15px;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #DDDDDD;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
    border-bottom: none;
}

/* Goods Info Page */

ul.shortcut-map {
    list-style: none;
    padding: 3px;
}

ul.shortcut-map li {
    margin: 0 6px;
    font-size: 1em;
    float: left;
    list-style-type: none;
    position: relative;
    font-size: 13px;
    color: #9C9C9C;
}

ul.shortcut-map li a{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #9C9C9C;
    letter-spacing: 0;
}

.goods-img {
    width: 100%;
    border: 1px solid #ccc;
}

.goods-img img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.goods-imgs {
    /*padding: 0 15px;*/
}

ul.goods-ul {
    list-style: none;
    display: flex;
    padding: 0;
    background-color: #ffffff;
}

.goods-ul li.goods-slider-parent {
    width: 20px;
    height: 150px;
}

.goods-slider {
    width: 20px;
    position: relative;
    height: 150px;
    cursor: pointer;
}

.goods-slider a.goods-slider-item.left {
    left: 10px;
    position: static;
}

.goods-slider i.fa {
    position: absolute;
    color: #999;
}

.goods-slider i.fa.right {
    top: calc(50% - 10px);
    right: -5px;
}

.goods-slider i.fa.left {
    top: calc(50% - 10px);
    left: -5px;
}

/* .products-box::-webkit-scrollbar {display:none} */

.goods-swiper-container {
    width: 100%;
    height: 150px;
    margin: 0px auto;
}

.goods-swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: auto;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.goods-swiper-container-horizontal>.goods-swiper-scrollbar,
.goods-swiper-scrollbar-drag {
    opacity: 0;
    background: none;
}

.goods_item_lk {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 190px;
    height: 200px; */
    text-align: center;
    margin: 0;
}

a.goods_item_lk:hover,
a.goods_item_lk:focus {
    outline: none;
    text-decoration: none;
}
.goods-item {
    padding: 2px;
}

.goods-item img {
    margin: 10px;
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    width: 100px;
}

.goods-detail {
    width: 100%;
    height: auto;
}
.goods-name {color: #0f0f0f;font-size: 18px;}
.goods-req {color: #FB750E; font-size: 14px}
.paragraph5 {padding: 5px 10px;}
.paragraph8 {padding: 8px 10px;}
.paragraph10 {padding: 10px 10px;}
.paragraph12 {padding: 12px 10px;}
.paragraph16 {padding: 16px 10px;}
.letter-prop {color: #0f0f0f; font-size: 14px;}
.letter-prop-grey {color: #9C9C9C; font-size: 13px;}
.price-pane {background: #EBEEF0; width: 100%; height: 53px;border-radius: 3px;}
.element-prop{width: 100%; height: 25px}
.digit-pane {
    position: absolute;
}

.digit-pane .minus {
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 13px;
    color: #fd7d24;
    background-color: #fff;
    border: solid 1px #d1d1d1;
    text-align: center;
    float: left;
    display: inline-block;
}

.digit-pane .count {
    width: 80px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 14px;
    color: #222;
    background-color: #fff;
    border: solid 1px #d1d1d1;
    text-align: center;
    float: left;
    display: inline-block;
    margin-left: -1px;
}

.digit-pane .plus {
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 13px;
    color: #fd7d24;
    background-color: #fff;
    border: solid 1px #d1d1d1;
    text-align: center;
    float: left;
    display: inline-block;
    margin-left: -1px;
}

.goods-standard {
    width: 100%;
    height: 25px;
    color: #2D7ED1;
    border: solid 2px #2D7ED1;
    text-align: center;
    vertical-align: middle;
}

.paragraph8 .btn-default {
    font-size: 20px; width: 100%; border-color: #1869BC; color: #1869BC;border-radius: 0px;
}

.paragraph8 .btn-primary {
    font-size: 20px; width: 100%; border-radius: 0px;
}
.recommend-goods {
    padding: 0 20px;
    height: 390px;
}
.recommend-goods-body {
    padding: 15px;
    width: 100%;
    height: 100%;
    background: #D0D0D0;
}
.recommend-goods-img {width: 100%}
.recommend-goods-img img {
    margin: 10px;
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
}
.nav-tab {
    /*background-color: #1869BC;*/
    border-bottom: 3px solid #1E88E5;
}
.nav-tab>li {
    float: left;
    margin-bottom: 0px;
}
.nav-tab>li>a,
.nav-tab>li>a:focus,
.nav-tab>li>a:hover {
    color: #1E88E5;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    font-family: PingFangSC-Medium;
    text-shadow: none;
    text-align: center;
}
.nav-tab>li.active {
    background-color: #1E88E5;
}

.nav-tab>li.active>a,
.nav-tab>li.active>a:focus,
.nav-tab>li.active>a:hover {
    color: #ffffff;
    background-color: #1E88E5;
    border: none;
    border-radius: 0;
    margin: 0;
    text-align: center;
}
a.tab_btn{
    font-size: large;
}

.tab-content {
    margin-top: 10px;
}

.table tr {
    text-align: center!important;
    height: 50px;
    line-height: 50px!important;
}
.table .letter-prop {
    text-align: center;
    vertical-align: middle;
}
.table-digit-pane {
    position: absolute;
}

.table-minus {
    width: 32px;
    height: 100%;
    line-height: 32px;
    vertical-align: middle;
    font-size: 14px;
    color: #fd7d24;
    background-color: #fff;
    border: solid 1px #d1d1d1;
    text-align: center;
    float: left;
    display: inline-block;
}

.table-count {
    width: 80px;
    height: 100%;
    line-height: 32px;
    vertical-align: middle;
    font-size: 14px;
    color: #fd7d24;
    background-color: #fff;
    border: solid 1px #d1d1d1;
    text-align: center;
    float: left;
    display: inline-block;
}

.table-plus {
    width: 32px;
    height: 100%;
    line-height: 32px;
    vertical-align: middle;
    font-size: 14px;
    color: #fd7d24;
    background-color: #fff;
    border: solid 1px #d1d1d1;
    text-align: center;
    float: left;
    display: inline-block;
}

/* Goods Search Page */

.search-option {
    width: 100%;
    height: 25px;
    color: #0f0f0f;
    border: solid 2px #d1d1d1;
    text-align: center;
    vertical-align: middle;
}